.My-Nav{
    /* justify-content: space-between;
    margin: 0 auto;
    display: flex;
    justify-content: space-between; */
    width: 1170px;
    padding-left: 20%;


}

.start{
    
    margin: 0 auto;
    display: flex;

    justify-content: space-between;

}

.start-div{
    display: flex;
    
}

.start-ul li {

    margin-right: 45px;
    color: var(--Dark-02, #424247);
    text-align: center;
    font-weight: 400;
    font-size: 1rem;color: var(--Dark-02, #424247);
    text-align: center;
    font-family: Mulish;
    font-size: 18px;
   
}
.start-ul li:hover{
    color: bisque;
}

.start-ul{
    list-style: none;
    display: flex;
    
}
.title{
    color: #131318;
    font-size: 1.2rem;
    font-weight: 800;
    line-height: normal;
    font-family:  'Mulish', sans-serif;
 
}

.logo{
    width: 48px;
height: 56.008px;
flex-shrink: 0;
padding-right: 20px;

}
.text{
    color: #ff2a00;
}

/* 2nd Feiled Starts */
.first-banner{
    background-image:linear-gradient(180deg, rgba(19, 19, 24, 0.80) 0%, rgba(19, 19, 24, 0.00) 100%),url("../Images/Group\ 13\ \(1\)\ \(1\).png");
    width: 1170px;
    height: 500px;
    border-radius: 15px;
    margin: 0 auto;
}

.bannar-text{
    color: #FFF;
    font-family: Mulish;
    text-align: center;
    justify-content: center;
    padding-top: 5%;
}
.first-text{
    color: #FFF;
    font-family: Mulish;
    font-size: 64px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    justify-content: center;
}
.p-text{
    color: #FFF;
    text-align: center;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    width: 676px;
    line-height: 26px; /* 162.5% */
    justify-content: center;
    padding-left: 10%;
}
.field{
display: inline-flex;
padding: 16px;
align-items: flex-end;
gap: 24px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.30);
justify-content: center;
margin-left: 15%;

justify-content: space-between;
/* width: 400px; */
}
.find{
    display: flex;
    
}
.dest{
    
    color: black;
    border-radius: 8px;
    width: 174px;
height: 52px;
flex-shrink: 0;
padding-left: 10px;
}
.Time{
    width: 10%;
    border-radius: 8px;
    width: 174px;
height: 52px;
flex-shrink: 0;
padding-left: 10px;
}
.select{
    border-radius: 8px;
    width: 174px;
height: 52px;
flex-shrink: 0;
padding-left: 10px;
}

.btn{
    background: #FF5400;
    border-radius: 6px;
    padding: 10px 20px;
    color: #FFF;
    
    
}
.btn:hover{
    color: darkgrey;
}



/* -------- */
.section{
    width: 1200px;
    height: 600px;
    display: flex;
    margin: 0 auto;
    padding: 0px 30px;
    align-items: center;
    justify-content: center;
    padding-top: 40px;
    
}
.container{
    padding-bottom: 150px;
}
.section-text h1{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
}

.p p {
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 577px;
}
.p h2{
    color: rgba(19, 19, 24, 0.70);
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
    width: 577px;
}

.section-ul{
    color: rgba(19, 19, 24, 0.70);
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 525px;
}
.section-ul h4{
    color: #5A5A5D;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
padding-right: 1000px;
width: 430px;

}


.img-1{
width: 540px;
height: 400px;
flex-shrink: 0; 
border-radius: 16px;
background: lightgray 50% / cover no-repeat;  
}


/**Choose Your Destination**/

.Destination{
    padding: 200px 0px;
    margin: auto;
  }
  .dest-title{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
  }
  .dest-para{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 643px;
/* justify-content: center; */
padding: 0px 600px;
padding-top: 10px;
/* text-align: center; */

 }
 
 .dest-img{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap:24px;
    margin-bottom: 10px;
  
 }

 
.universal-text{
    
    padding: 20px 35px -100px  ;
    width: 1140px;
    height: 60px;
    margin-bottom: 40px;
    text-align: center;
    justify-content: center;
}
.firstimg-row{

    display: flex;
   
    height: 320px;
    justify-content: center;

}


.part1-img{
    padding-top: 9%;
    text-align: center;
    background-image: url(../Images/Rectangle\ 5.png);
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.part1-img:hover{
    color:black;
}
.part2-img{
    margin-left: 25px;
    padding-top: 9%;
    text-align: center;
    background-image: url(../Images/Rectangle\ 8.png);
    background-repeat: no-repeat;
    width: 573px;
    height: 300px;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}
.part2-img:hover{
    color:black;
}
.secondimg-row{
    display: flex;
    /* border: 2px solid blue; */
    height: 320px;
    justify-content: center;

}
.part3-img{
    margin-left: 0px;
    padding-top: 7%;
    text-align: center;
    background-image: url(../Images/Rectangle\ 6.png);
    background-repeat: no-repeat;
    width: 374px;
    height: 286px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;

}

.part3-img:hover{
    color:black;
}
.part4-img{
    margin-left: 25px;
    padding-top: 7%;
    text-align: center;
    background-image: url(../Images/Rectangle\ 7.png);
    background-repeat: no-repeat;
    width: 474px;
    height: 286px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.part4-img:hover{
    color:black;
}
.part5-img{
    margin-left: 23px;
    padding-top: 7%;
    text-align: center;
    background-image: url(../Images/Rectangle\ 9.png);
    background-repeat: no-repeat;
    width: 300px;
    height: 286px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}

.part5-img:hover{
    color:black;
}
.thirdimg-row{
    display: flex;
    /* border: 2px solid green; */
    height: 320px;
    justify-content: center;
}
.part6-img{
    padding-top: 9%;
    text-align: center;
    background-image: url(../Images/Rectangle\ 11.png);
    background-repeat: no-repeat;
    width: 473px;
    height: 300px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}
.part6-img:hover{
    color:black;
}
.part7-img{
    margin-left: 25px;
    padding-top: 9%;
    text-align: center;
    background-image: url(../Images/Rectangle\ 10.png);
    background-repeat: no-repeat;
    width: 673px;
    height: 300px;
    flex-shrink: 0;
    color: #FFF;
    font-family: Mulish;
    font-size: 28px;
    font-weight: 800;
}
.part7-img:hover{
    color:black;
}

/* ------- */

.Choose{
    padding: 200px 0px;
    margin: auto;
  }
  .choose-title{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
  }
  .choose-para{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 643px;
justify-content: center;
padding: 0px 600px;
padding-top: 10px;

 }


 .my-card-cont{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 50px;
    width: 1820px;
    justify-content: center;
    
  
  
  
    
  }
  .my-card1{
    border-radius: 16px;
    border: 1px solid rgba(233, 68, 68, 0.20);
    background: rgba(233, 68, 68, 0.05);
    padding: 32px;
    
  
  }
  .my-card2{
    padding: 32px;
    border-radius: 16px;
border: 1px solid rgba(251, 181, 99, 0.20);
background: rgba(251, 181, 99, 0.05);
  }
 
  
  .my-title{
    color: #131318;
    font-family: Mulish;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    padding: 24px 0px;
  }
  .my-describe{
    width: 486px;
    color: #5A5A5D;
    font-family: Mulish;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 26px; /* 162.5% */
   
  }
  .my-ending{ 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 32px;
  
  }
  .my-cards{
    border-radius: 16px;
    border: 1px solid rgba(41, 206, 246, 0.20);
    background: rgba(41, 206, 246, 0.05);
      width: 573px;
      height: 284px;
    
      padding: 32px;
      display: block;
      align-items: center;
      justify-content: center;
  }



  /* -------- */
  
  .discount{
    padding: 200px 0px;
    margin: auto;
  }
  .discount-title{
    color: #131318;
text-align: center;
font-family: Mulish;
font-size: 40px;
font-style: normal;
font-weight: 800;
line-height: normal;
  }
  .discount-para{
    color: rgba(19, 19, 24, 0.70);
text-align: center;
font-family: Mulish;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 26px; /* 162.5% */
width: 643px;
justify-content: center;
padding: 0px 600px;
padding-top: 10px;

 }
/* /hotel part strats from here */ */
.my-hotel{
    margin-left: 100px;
}
.hotel{
    margin: 0 auto;
    padding: 20px 035px 235px 0px ;
    width: 1170px;
    height: 1800px;
   margin-left: 15%;
   margin-bottom: 5px;

}
.background1{
     background-image: url('../Images/Group\ 39.png'); 
     background-repeat: no-repeat;
    margin-left: 10px;
    width: 1180px;
    height: 500px;
    margin-bottom: 10%;
}

.layout{
    border-radius: 16px;

    backdrop-filter: blur(2.5px);
    background: rgba(255, 255, 255, 0.80);
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    position: relative;
    left: 45%;
    top: 10%;

}
.layout-1{
    padding: 50px;
}


.background2{
    background-image: url('../Images/Group\ 40.png'); 
    background-repeat: no-repeat;
   margin-left: 10px;
   width: 1180px;
   height: 500px;
   margin-bottom: 3%;
   justify-content: center;
}

.layout2{
    border-radius: 16px;
   
    backdrop-filter: blur(2.5px);
    background: rgba(255, 255, 255, 0.80);
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    position: relative;
    left: 10%;
    top: 7%;
}
.layout-2{
    padding: 50px;
}
/* ------- */

/* -------- */
.background3{
    background-image: url('../Images/Group\ 40.png'); 
    background-repeat: no-repeat;
   margin-left: 10px;
   width: 1180px;
   height: 500px;
   margin-bottom: 3%;
}

.layout3{
    border-radius: 16px;
    
    backdrop-filter: blur(2.5px);
    background: rgba(255, 255, 255, 0.80);
    width: 579px;
    height: 389px;
    flex-shrink: 0;
    position: relative;
    left: 45%;
    top: 7%;
}
.layout-3{
    padding: 50px;
}
.btn{
    
    background: #FF5400;
    border-radius: 6px;
    padding: 10px 20px;
    color: #FFF;
    
}


/* ------ */

/**discount-content ***/


/* ------- */
/**place-content***/
.place{
    padding-bottom: 100px;
    margin: auto;
  }
  .place-p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:30px;
  }
  .place-content-l{
  
  }
  .place-title{
    color: #131318;
  font-family: Mulish;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 60px; /* 150% */
  padding-right: 40px;
  
  }
  .place-describe{
    color:black;
  font-family: Mulish;
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px; /* 162.5% */
  padding: 24px ;
  
  }
  .place-ul{
    display: block;
    align-items: center;
  
  
  
  }
  .place-ul li{
    color: #131318;
    font-family: Mulish;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px; /* 162.5% */
    padding-bottom: 15px;
    
  }
  
  
  
  
  .place-video{
    width: 510px;
  height: 400px;
  
  
  }
  .btn-place{
 margin-left: -100%;
    padding: 10px 20px;
    border-radius: 8px;
    background-color: #ff2a00;
    margin-top: 20px;
    
   
  }
  /**end**/

  .sec-email{
   
    margin: 0 auto;
    display: flex;
    padding: 20px 350px 220px 0px ;
    width: 750px;
    height: 250px;
    padding-bottom: 8%;
    margin-left: 15%;
    gap: 20px;
    margin-bottom: 10%;
}
.text-container{
    margin-left: 40px;
    border-radius: 18px;
    border: 2px solid orangered;
    background: rgba(255, 255, 255, 0.80);
    width: 450px;
    height:420px;
    flex-shrink: 0;
}

.news{
    padding-left: 10%;
    color: black;
    font-size: 27px;
    font-weight: 800;
}
.get{
    padding-left: 12%;
    width: 550px;
    color:black;
    font-family: Mulish;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
}
.name-input{
    margin-left: 10%;
    padding: 20px 50px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 7%;
}
.email-input{
    margin-left: 10%;
    padding: 20px 50px;
    border-radius: 8px;
    background: rgba(19, 19, 24, 0.05);
    margin-bottom: 7%;
}
.btn{
    background: #FF5400;
    border-radius: 6px;
    padding: 10px 20px;
    color: #FFF;
    margin-left: 10%;
}
.img-container{
    margin-top: 10px;
    
}
.save{
     padding-top: 30px;
    padding-left: 50px; 
    font-size: 32px;
    color: #FFF;
    background-color: #FF5400;
    border-radius: 16px;
    width: 230px;
    height: 100px;
    transform: rotate(-19.628deg);
    flex-shrink: 0;
}
.rotate{
    position:relative;
    left: 24%;
    bottom: 95%;
   
}
.travel-txt{
    font-size: 12px;
    color: #FFF;
}

 /* footer section styles */
footer {
    background: rgba(19, 19, 24, 0.05);
    padding: 130px 110px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  
  
  .my-info  {
    color: black;
    font-family: Inter;
    font-size: 22px;
    font-weight: 500;
    line-height: 35px;
    justify-content: center;
    text-align: center;
  }
  
  
  
  footer hr {
    width: 80%;
    border: 1px solid rgba(255, 255, 255, 0.15);
    margin: 45px 0;
  }
  
  .social{
    margin: 0 auto;
  }
  
  .social img {
    width: 60px;
    margin-left: 22px;
  }
.last{
    display: flex;
    justify-content: center;
    
}

  
.title{
    color: #131318;
    font-size: 1.2rem;
    font-weight: 800;
    line-height: normal;
    font-family:  'Mulish', sans-serif;
    
 
}

.logo{
    width: 48px;
height: 56.008px;
flex-shrink: 0;
padding-right: 20px;



}
.text{
    color: #ff2a00;
}
